body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1,
h2 {
    text-align: center;
}

@media (min-width: 768px) {
    .input-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

    }
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"],
.input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.input-section button {
    padding: 5px 10px;
    background-color: rgb(128, 38, 38);
    color: white;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid;
    padding: 8px;
    text-align: left;
}

th {
    background-color: blanchedalmond;
    color: rgb(50, 50, 87);
}

tfoot td {
    font-weight: bold;
    color: blue;
}

.delete-btn {
    padding: 5px 10px;
    background-color: rgb(128, 38, 38);
    color: white;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
}

h2 {
    font-family: sans-serif;
    color: navy;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

.content-container {
    width: 500px
}

.main-container {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    gap: 24px;
    width: fit-content;
    box-shadow: 0 4px 12px -2px rgba(138, 31, 138, 0.911);
    border-radius: 20px;
    padding: 8px 32px;
}

@media (max-width : 768px) {
    .input-section {
        max-width: 100%;
        display: flex;
    }
}